
form {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffe4ec;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
fieldset{
    margin: 10px;
    border: 2px solid rgba(31, 50, 112, 0.3);
    padding-left: 10px;
    border-radius: 20px;
}
legend{
    font-weight: bolder;
    padding: 5px 10px;
    color: #6a1b9a;
    background-color: #f3e5f5;
    font-size: 1.1em;
    border-radius: 10px;
}
p{
    line-height: 40px;
    margin: 0;
    padding: 2px;
}
label [for="nome"],
label [for="email"],
label [for="telefone"] {
    width: 8%;
    display: block;
    float: left;
    text-align: right;
    margin-right: 5px;
    padding: 2px;
}
input [name="nome"],
input [name="email"],
input [name="telefone"] {
    border: none;
    width: 85%;
    padding: 7px;
    border-bottom: 2px solid rgba(31, 50, 112, 0.3);
    background-color: rgba(31, 50, 112, 0.1);
}
