body {
    background: linear-gradient(to bottom, #f0f8ff, #d6eaf8);
    background-image: url(../imagens/paw-solid-full.svg);
    background-size: 80px;
    background-repeat: repeat;
    background-position: center top;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {

    background-color: rgba(252, 249, 249, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

main {
    background-color: rgba(255, 255, 255, 0.9);
    width: 1024px;
    padding: 10px;
    margin: auto;
}
body {
  background-color:hotpink;
}
nav ul {
  height: 38px;
  list-style: none;
  padding: 0;
  border: 2px solid rgba(31, 50, 112, 0.3);
  background-color: #fff;
}

nav ul li {
  float: left;
  border-left: 1px solid rgba(31, 50, 112, 0.3);
  border-right: 1px solid rgba(31, 50, 112, 0.3);
}

nav ul li a {
  color: darkblue;
  text-decoration: none;
  /* font-size: 1.2em; */
  padding: 8px 56px;
  line-height: 2em;
  text-align: center;
}

nav ul li:first-child {
  border-left: none;
}

nav ul li:last-child {
  border-right: none;
}

aside {
    float: right;
    background-color: #fff;
    padding: 15px;
    color: darkblue;
    border: 1px solid rgba(31, 50, 112, 0.3);
    border-radius: 5% 20%;
}
aside a :hover {
    background-color: rgba(31, 50, 112, 0.3)
}

aside img {
    width: 32px;
    padding: 3px;
}

aside a {
    text-decoration: none;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li:last-child {
    border-right: none;
}